.box {
    width: 400px;
    height: 600px;
    border: 5px solid black;
    margin: 20px auto;
    padding-right: 25px;
    position: relative;
}

.headerItem, .entryItem {
    position: relative;
    text-align: center;
}
hr {
    margin-right: -25px;
}



.listSection {
    position: relative;
    
    text-overflow: ellipsis;
    overflow: hidden;
}

li {
    position: relative; 
    margin-top: 10px;
    
}


.listButton {
    position: relative;
    left: 10px
}